</div>
<footer>
	<div class="footer">
		<a href="">who am I</a><br />
		<span>QQ Group: 435485569</span>
	</div>
</footer>
<div class="dialogWrap signInDialog">
	<form class="signInForm">
		<div class="placeholder forUsername">username</div>
		<input type="text" class="signInInput" maxLength="30" id="username" />
		<div class="placeholder forPassword">password</div>
		<input type="password" class="signInInput" maxLength="30" id="password" />
		<button type="submit" class="btn signInBtn">SIGN IN</button>
	</form>
	<p class="signInTag">
		<span class="signInDes">Don't have an account yet? </span>
		<a class="singInLink underline" id="singInLink" href="javascript:void(0)">Sign up</a>
	</p>
</div>
<div class="mask signInMask"></div>
<script src="/assets/core/js/jquery.min.js" type="text/javascript"></script>
<script src="/assets/core/js/jquery.cookies.min.js" type="text/javascript"></script>
<script src="assets/core/js/react.js"></script>
<script src="assets/core/js/JSXTransformer.js"></script>
<script src="assets/core/js/react-dom.js"></script>
<script type="text/javascript" src="assets/index.js"></script>
<script>
if( location.host.indexOf('upopen.cn') > -1 ){
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?fca615d6ad621b43ae678025faa5727e";
	var s = document.getElementsByTagName("script")[0]; 
	s.parentNode.insertBefore(hm, s);
}
</script>
</body>
</html>
