<!DOCTYPE html>
<html>
<head>
<title>UPOPEN</title>
<meta charset="UTF-8" />
<link href="/assets/core/css/reset.css" type="text/css" rel="stylesheet">
<link href="/assets/public/css/common.css" type="text/css" rel="stylesheet">
<link href="/assets/module/index/index.css" type="text/css" rel="stylesheet">
<link href="/assets/widget/hint/hint.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="bgBlue"></div>
<header>
	<div class="header">
		<a class="logo" href="/">
			<span class="logo_icon logo_3d1"></span>
			<span class="logo_iconbg logo_3d1"></span>			
			<font class="logo_font">UPOPEN</font>
		</a>
		<dl class="navigator">
			<dd class="beforeSignIn hide"><a href="http://www.upopen.cn" id="toSignIn_bak">Sign In</a></dd>
			<dd class="afterSignIn userHeadWrap hide">
				<a href="/user/info">
					<img id="userHead" width="42" height="42" src="/assets/public/imgs/head.png" />
				</a>
			</dd>
			<dd><a href="http://www.upopen.cn/blog/list">BLOG</a></dd>
			<dd><a href="http://www.upopen.cn/case/list">CASE</a></dd>
		</dl>
	</div>
</header>
<div class="container clearfix">
