</section>
<footer>
	<div class="footer">
		<!--a href="">who am I</a--><br />
		<span>QQ Group: 435485569</span><br />
		<span><a href="https://github.com/xiaolulu/upopen" target="_blank">github</a></span>
	<div style="width:300px;position: absolute;bottom: 20px;left:50%;margin-left:-140px;">
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802003623" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33010802003623号</p></a>
	</div>
		 
	</div>
</footer>
<!--script src="//cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js"></script-->
<script src="/vendor/js/jquery.js"></script>
<script src="<%= assets%>.js"></script>
<script>
if( window.location.hostname === 'www.upopen.cn' ){
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?fca615d6ad621b43ae678025faa5727e";
	var s = document.getElementsByTagName("script")[0]; 
	s.parentNode.insertBefore(hm, s);
}
</script>