<!DOCTYPE html>
<html>
<head>
	<title><%= title %>-<%= siteTitle %></title>
	<meta charset="utf-8" />
	<link href="/public/css/reset.css" type="text/css" rel="stylesheet" >
	<link href="/public/css/common.css" type="text/css" rel="stylesheet" >
	<link href="<%= assets%>.css" type="text/css" rel="stylesheet" >
</head>
<body>
<div class="bgBlue"></div>
<header>
	<div class="header">
		<a class="logo logo3d" href="/">
			<span class="logo_icon logo_3d"></span>
			<span class="logo_icon logo_iconbg logo_3d"></span>			
			<span class="logo_font">UP<font>O</font>PEN</span>
		</a>
		<dl class="navigator">
			<dd class="beforeSignIn hide"><a href="javascript:void(0)" id="toSignIn">Sign In</a></dd>
			<dd class="afterSignIn userHeadWrap hide">
				<a href="/user/self">
					<img id="userHead" width="42" height="42" src="/public/imgs/head.png" />
				</a>
				<ul class="userHeadMenu" id="userHeadMenu">
					<li><a class="logout" href="/user/self">我的主页</a></li>
					<li><a class="logout" href="javascript:void(0)">退出</a></li>
				</ul>
			</dd>
			<dd><a href="/blog/list">BLOG</a></dd>
			<!--dd><a href="/case/list">CASE</a></dd>
			<dd><a href="/case/list">ME</a></dd-->
		</dl>
	</div>
</header>
<section class="container clearfix">
