<% include ../../common/header.ejs %>
<div class="main" id="blogBox">
	<section>	
		<div class="info clearfix">
			<span class="title">win7下安装ubuntu双系统图文教程</span>
			<a class="type" href="/blog/list?kind=nodejs">nodejs</a>
			<img class="head" src="/public/imgs/head.png" width="42" />
		</div>
		<div class="tool">
			<!--span class="toolItem view">Views: 10</span>
			<span class="toolItem talk">Comments: 0</span-->
			<span class="toolItem date">Date: 2015-12-25</span>
		</div>
		<div class="content clearfix markdown"><h1>一、ubuntu是较适合个人开发使用的linux系统，安装可以选择全系统、虚假机、双系统。</h1>

<p>全系统安装：使用时会多有不便，主要表现为软件不支持如 ps / qq /flash</p>

<p>虚拟机安装：可以用来练手，但如果作为开发平台，其功能较弱</p>

<p>双系统安装：是折中方案，使用起来和全系统没有差别，也方便切换</p>

<h3>二、准备：安装共需约20分钟</h3>

<p>空U盘      - 制作系统引导盘</p>

<p>UltralSO  - 制作系统引导盘软件</p>

<p>ubuntu系统 - 32/64对应自己的系统 http://cn.ubuntu.com/download</p>

<h3>三、从硬盘里分出空盘给ubuntu</h3>

<p>1、打开 计算机 - 管理 - 磁盘管理，选择可以用来划空盘的硬盘，右键选择 “压缩卷”</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntu/1.jpg" title="Logo Title Text 2"/></p>

<p>2、输入压缩空间，大小主要考虑将来开发使用，以100GB为例，执行压缩</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntu/2.jpg" title="Logo Title Text 2"/></p>

<pre><code>3、如图，即压缩成功100GB的可用空间</code></pre>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntu/3.jpg" title="Logo Title Text 2"/></p>

<h3>四、制作引导光盘</h3>

<p>1、插入空U盘，启动UltralSO</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/1.jpg" title="Logo Title Text 2"/></p>

<p>2、点击 打开，选择打开ubuntu.iso包</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/2.jpg" title="Logo Title Text 2"/></p>

<p>3、点击 启动 - 写入硬盘映像</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/3.jpg" title="Logo Title Text 2"/></p>

<p>4、写入方式为 USB-ZIP+，点击写入</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/3.jpg" title="Logo Title Text 2"/></p>

<p>5、刻录成功</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/5.jpg" title="Logo Title Text 2"/></p>

<p>6、查看磁盘盘符，可以到U盘变化</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/uiso/6.jpg" title="Logo Title Text 2"/></p>

<h3>五、安装ubuntu</h3>

<p>1、重启计算机，开启即按F12，打开选择启动设备面板，选择USB</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-1.jpg" title="Logo Title Text 2"/></p>

<p>2、继续启动，看到如下画面，不同版本系统会略有不同</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-20.jpg" title="Logo Title Text 2"/></p>

<p>3、进入ubuntu安装界面，视情况选择中英文，建议选择英文，更适合开发，会多一定的学习成本</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-3.jpg" title="Logo Title Text 2"/></p>

<p>4、Wireless，选择不连接网络，安装时用不到，点击继续</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-4.jpg" title="Logo Title Text 2"/></p>

<p>5、Preparing to install Ubuntu Kylin，下面两个复选框不需要勾选，点击继续</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-5.jpg" title="Logo Title Text 2"/></p>

<p>6、Installation type，选择 something else，自己分盘</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-6.jpg" title="Logo Title Text 2"/></p>

<p>7、Installation type，选择 free space，即我们第三步时划出的盘，点击+，增加划盘</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-8.jpg" title="Logo Title Text 2"/></p>

<p>8、划盘1，配置如图，常规20000MB，根目录盘</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-9.jpg" title="Logo Title Text 2"/></p>

<p>9、划盘2，配置如图，常规2048MB，内存</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-10.jpg" title="Logo Title Text 2"/></p>

<p>10、划盘3，配置如图，常规200MB</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-11.jpg" title="Logo Title Text 2"/></p>

<p>11、划盘4，配置如图，其它所有空间，作为我们日常使用盘</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-12.jpg" title="Logo Title Text 2"/></p>

<p>12、划好盘后，其它默认，Device for boot .. 选择 /dev/sda/ ATA WDC...，指定从ubuntu启动win7</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-13.jpg" title="Logo Title Text 2"/></p>

<p>13、点击安装，弹出框，点击继续</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-14.jpg" title="Logo Title Text 2"/></p>

<p>14、选择时区，上海</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-15.jpg" title="Logo Title Text 2"/></p>

<p>15、选择语言，英文</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-16.jpg" title="Logo Title Text 2"/></p>

<p>16、设置主机名及密码，随意，不过 your computer&#39;s name尽量短些，后面执行shell命令时，其会占位置</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-17.jpg" title="Logo Title Text 2"/></p>

<p>17、执行安装</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-18.jpg" title="Logo Title Text 2"/></p>

<p>18、安装成功后，重启</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-19.jpg" title="Logo Title Text 2"/></p>

<p>19、启动后，提示选择启动哪种系统，默认第一个是ubuntu，最后一个是win7</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-21.jpg" title="Logo Title Text 2"/></p>

<p>20、登录页面 </p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-22.jpg" title="Logo Title Text 2"/></p>

<p>21、系统桌面，和ios类似，同为类unix系统</p>

<p><img alt="alt text" src="http://www.upopen.cn/assets/upload/ubuntuInstall/2015-06-29-2.jpg" title="Logo Title Text 2"/></p>

<p>六、系统卸载，见教程...
七、系统使用，见教程...</p></div>
	</section>
	<div class="comments">
		<div class="commentWrap" id="commentWrap">
			
		</div>
		<form class="commentForm" id="commentForm">
			<input type="text" placeHolder="you name" id="commentUser" maxLength="30" class="commentUser" /><br />
			<textarea class="commentContent" id="commentContent" rows="6" maxLength="1000" placeHolder="your comment for this blog within 1000 words"></textarea><br />
			<button type="submit" id="commentBtn" class="btn">SAVE COMMENT</button><br /><br />
		</form>
	</div>
</div>

<% include ../../common/slide.ejs %>
<% include ../../common/footer.ejs %>
