<% include ../../common/header.ejs %>
<div class="main" id="blogBox">
	<section>	
		<div class="info clearfix">
			<span class="title">win7下卸载ubuntu系统</span>
			<a class="type" href="/blog/list?kind=ubuntu">ubuntu</a>
			<img class="head" src="/public/imgs/head.png" width="42" />
		</div>
		<div class="tool">
			<!--span class="toolItem view">Views: 3</span>
			<span class="toolItem talk">Comments: 0</span-->
			<span class="toolItem date">Date: 2015-12-25</span>
		</div>
		<div class="content clearfix markdown"><h3>一、前言</h3>

<p>以http://www.upopen.cn/article/info?id=559291b3f0e6e0665b000001 方式安装的双系统，卸载时需要先删除ubuntu的启动引导，再清空其盘符即可，操作很简单。</p>

<h3>二、准备</h3>

<p>mbrfix软件</p>

<h3>三、删除配置</h3>

<p>1、将下载的MbrFix.exe，放到C盘根目录</p>

<p>2、打开命令行，快捷键为 win + r，切换到C盘根目录，执行 Mbrfix /drive 0 fixmbr，即完成启动引导修改</p>

<p><img alt="alt text" src="http://www.upopen.cn/upload/mbrfix/mbrfix1.png" title="Logo Title Text 2"/></p>

<p>3、有些电脑出提示拒绝，如图</p>

<p><img alt="alt text" src="http://www.upopen.cn/upload/mbrfix/mbrfix2.png" title="Logo Title Text 2"/></p>

<p>4、通过桌面找到放在C盘下的MbrFix.exe，右键 - 属性 - 兼容性，勾选 特权等级，以管理员身份运行，再执行第2步即可</p>

<p><img alt="alt text" src="http://www.upopen.cn/upload/mbrfix/mbrfix3.png" title="Logo Title Text 2"/></p>

<p>5、通过桌面打开 计算机 - 管理 - 磁盘管理，空磁盘，右键选择 删除卷 即可完成</p>

<p><img alt="alt text" src="http://www.upopen.cn/upload/mbrfix/3.jpg" title="Logo Title Text 2"/></p></div>
	</section>
	<div class="comments">
		<div class="commentWrap" id="commentWrap">
			
		</div>
		<form class="commentForm" id="commentForm">
			<input type="text" placeHolder="you name" id="commentUser" maxLength="30" class="commentUser" /><br />
			<textarea class="commentContent" id="commentContent" rows="6" maxLength="1000" placeHolder="your comment for this blog within 1000 words"></textarea><br />
			<button type="submit" id="commentBtn" class="btn">SAVE COMMENT</button><br /><br />
		</form>
	</div>
</div>

<% include ../../common/slide.ejs %>
<% include ../../common/footer.ejs %>
