<% include ../common/header.ejs %>

<div class="clearfix userInfo">
	<div class="profile">
		<img width="140" height="140" src="<%= head %>" />
		<span class="selfname"><%= username %></span>
	</div>
	<div class="fruit">
		<div class="tab">
			<a class="tabMenu tabMenuCurrent">blogs</a><a class="tabMenu">comments</a><!--a class="addBlog" href="/user/edit">write blog</a-->
		</div>
		<div class="articles">

		</div>
	</div>
</div>

<% include ../common/footer.ejs %>
