<% include common/header.ejs %>
<div class="topbar">
	<input type="text" placeHolder="When testing, you need to add a domain name - eg:http://check.upopen.cn" class="host" spellcheck="false" />
</div>
<div id="wrapper" class="wrapper">
</div>
<catalog id="animateTest">
    <h3>CATALOG!!</h3>
    <p class="catalog"></p>
</catalog>
<mask></mask>
<% include common/footer.ejs %>
