<% include ../common/header.ejs %>
<div class="main">
	<a href="http://check.upopen.com">check server interface</a>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<% include ../common/slide.ejs %>
<% include ../common/footer.ejs %>
