<% include ../common/header.ejs %>
<div class="main"><br /><br />
	<a href="http://check.upopen.cn" target="_blank">check server interface</a><br /><br />
	<a href="http://tank.upopen.cn" target="_blank">3d tank</a><br /><br />
	<a href="http://chess.upopen.cn" target="_blank">chess chinaese</a><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<% include ../common/slide.ejs %>
<% include ../common/footer.ejs %>
