<% include ../../common/header.ejs %>
<div class="main" id="blogBox">
	<section>	
		<div class="info clearfix">
			<span class="title">resume</span>
			<a class="type" href="/blog/list?kind=other">other</a>
			<img class="head" src="/public/imgs/head.png" width="42" />
		</div>
		<div class="tool">
			<!--span class="toolItem view">Views: 0</span>
			<span class="toolItem talk">Comments: 0</span-->
			<span class="toolItem date">Date: 2016-06-12</span>
		</div>
		<div class="summary clearfix"></div>
		<div class="content clearfix markdown"><h3 id="-">联系方式</h3>
<ul>
<li>Mobile：13675896031</li>
<li>Email: 2270112418@qq.com</li>
<li>QQ / wechat：417589068</li>
</ul>
<hr>
<h3 id="-">个人信息</h3>
<ul>
<li>姜广财 / 男 / 1985</li>
<li>本科 / 浙江林学院 / 2008年毕业</li>
<li>工作年限8年</li>
<li>个人站点: <a href="http://www.upopen.cn">http://www.upopen.cn</a></li>
<li>github: <a href="https://github.com/xiaolulu">https://github.com/xiaolulu</a></li>
<li>期望职位: web前端开发、应用架构师</li>
<li>薪资: 当前 - 30K*13，期望 - 45W/年</li>
<li>工作地: 杭州</li>
</ul>
<hr>
<h3 id="-">技术能力</h3>
<ul>
<li>web开发：Node / ES6 / H5 / Css3</li>
<li>前端工具：Gulp / Sass / Webpack</li>
<li>数据库：Mongodb / Mysql / Redis</li>
<li>版本管理：git / svn</li>
<li>单元测试： 有较完整的测试技术栈，jshint / shouldjs / Supertest / mocha / karma / ab / jmeter</li>
<li>开放平台：微信服务号</li>
<li>服务器：nginx / linux </li>
<li>前端相关：实践前端工程化、全栈开发方案、web安全、http协议、前端规范、性能优化。</li>
<li>其它能力：有积极的工作态度，有很好的执行力，善于思考，主动提出建议、解决方案并能快速落地实行。</li>
</ul>
<p>有完整前端工程化实践：对项目的开发流程、组织架构、工程部署、工具使用、系统测试、安全、性能、统计、监控等都有完整的应用技术栈。</p>
<p>有完整的全栈经验：应用于多个项目的前后端分离经验，基于nodejs的前后端分离架构，所有请求由nginx代理静态资源分发到CDN静态服务器，其它所有请求转发到node服务器，node服务器承担路由、渲染、权限、过滤、接口模块封装及如上传、静态化等模块化的功能，再将规范化数据以restful形式传给tomcat，整体采用ES6标准，使用gulp、webpack、sass等构建工具，集成kamar、jmeter测试，对新闻、帮助等非核心数据使用nodejs+mongodb存储。WebApp（含wechat）也以相同的node服务方式开发。另开发了接口管理、验证模块，作为与java端约定、验收接口标准。</p>
<p>近两家公司分别带10人、3人团队，我日常工作仍以code为主，管理沟通约占20%的工作量。近两家公司都是创业型公司，入职时都是自己独立开发所有前端部分，本次调整工作目的仍以研发为主，不在意管理。</p>
<hr>
<h3 id="-">工作经历</h3>
<h4 id="-2015-4-">仟金顶网络科技有限公司（2015年4月 ~ 至今）</h4>
<h5 id="-">项目经验</h5>
<p>1 订单履约系统：</p>
<ul>
<li>项目目的：为经销商提供订单在线处理、跟踪流程，以实现订单云端高效处理，及后期数据分析评估</li>
<li>负责模块：项目采用基于nodejs的前后端分离架构，所有请求由nginx代理静态资源分发到CDN静态服务器，其它所有请求转发到node服务器，node服务器承担路由、渲染、权限、过滤、接口模块封装及如上传、静态化等模块化的功能，再将规范化数据以restful形式传给tomcat，整体采用ES6标准，使用gulp、webpack、sass等构建工具，集成kamar、jmeter测试，对新闻、帮助等非核心数据使用nodejs+mongodb存储。另开发了接口管理、验证模块，作为与java端约定、验收接口标准。</li>
<li>开发效果：提高项目开发效率，前后端按项目之初的接口约定，并行开发，以前端技术分担了整体项目中更擅长解决的部分，双方职责更加清晰，因有前一个项目做实践基础且接口定义合理，接口联调仅用了一个小时。并进一步完善了全栈工程的架构体系、技术方案。</li>
</ul>
<p>2 仟金顶客户系统：</p>
<ul>
<li>项目目的：提供客户在线申请项目和资金贷款申请</li>
<li>负责模块：项目采用基于nodejs的前端后分离，向部门提出架构分离概念及实施方案，并以demo验证可行性，获组织认可。先通过项目中的一个独立模块作尝试，磨合前端、后端、运维端三方合作，经历一系统填坑后，项目顺利完成。</li>
<li>开发效果：承担了部分原后端工作，清晰前后端职责，提高了开发效率，降低维护成本。</li>
</ul>
<p>3 仟金顶客户系统微信服务号</p>
<p>提供客户系统的移动端，由我推动的产品设计、项目实施，使用nodejs开发，因客户系统使用了前后端分离，java只需要改造两个接口，实现用户的openid登录即可，其它功能全部用前端实现。</p>
<p>4 系统数据可视化</p>
<p>由我推动、开发的基于echarts的数据可视化，提供了PC / TV / APP客户端方案，更直观显示公司各项数据指标，并推广到集团。</p>
<h4 id="-2012-7-2015-4-">杭州海康威视技术有限公司（2012年7月 ~ 2015年4月）</h4>
<h5 id="-">项目经验</h5>
<p>1 会员视频监控管理云平台</p>
<ul>
<li>项目目的：为C端会员提供监控设备在线管理、实时监控、查看历史视频、处理报警消息</li>
<li>负责模块：开发站点web页面部分，采用模块化管理，另对视频流作较多处理</li>
<li>开发效果：该平台是公司的核心产品，从零摸索，一年内多次反复改版，因较好的实现了模块化及组件化，模块得到很好的复用，提升了每次改版时的效率</li>
</ul>
<p>2 公司招聘系统</p>
<p>作为公司发布招聘信息、收集简历信息平台，由我主导产品设计、项目实施，采用nodejs + mysql开发，开发周期短、布置效率高，推动了公司nodejs应用。</p>
<p>3 视频广场</p>
<p>会员发布公开视频的云平台，负责前端模块，并有webapp版</p>
<p>4 数据可视化</p>
<p>集成地图、图表等各种方式，以图像化的形式展现公司设备、会员在线分布状态，作为习总考察海康期间的利好展现方案。</p>
<h4 id="-2010-10-2012-7-">亚信联创科技有限公司（2010年10月 ~ 2012年7月）</h4>
<p>提供电信解决方案，参与开发了泰国电信系统、上海移动系统，负责前端基于Extjs的组件扩展</p>
<h4 id="5173-2008-6-2010-10-">5173网络科技有限公司（2008年6月 ~ 2010年10月）</h4>
<p>游戏装备、交易平台，负责UI设计、前端工作。</p>
<hr>
<h3 id="-">工作目标</h3>
<p>基于过往的一些工作认识所得，希望能与这样一家公司共同前进</p>
<p> 深厚的技术沉淀、良好的产品运作、精英的同事共事 </p>
<h3 id="-">技术文章</h3>
<p><a href="http://www.upopen.cn/blog/list">优品开源 upopen</a></p>
<hr>
<h3 id="-">致谢</h3>
<p>感谢您阅读我的简历，期待与您共事。</p>
</div>
	</section>
	<div class="comments" name="comments" id="comments">
		<div class="commentWrap" id="commentWrap">
			
		</div>
		<form class="commentForm" id="commentForm">
			<input type="text" placeHolder="you name" id="commentUser" maxLength="30" class="commentUser" /><br />
			<textarea class="commentContent" id="commentContent" rows="6" maxLength="1000" placeHolder="your comment for this blog within 1000 words"></textarea><br />
			<button type="submit" id="commentBtn" class="btn">SAVE COMMENT</button><br /><br />
		</form>
	</div>
</div>

<% include ../../common/slide.ejs %>
<% include ../../common/footer.ejs %>
