<% include ../../common/header.ejs %>
<div class="main" id="blogBox">
	<section>	
		<div class="info clearfix">
			<span class="title">hr</span>
			<a class="type" href="/blog/list?kind=other">other</a>
			<img class="head" src="/public/imgs/head.png" width="42" />
		</div>
		<div class="tool">
			<!--span class="toolItem view">Views: 0</span>
			<span class="toolItem talk">Comments: 0</span-->
			<span class="toolItem date">Date: 2016-06-02</span>
		</div>
		<div class="summary clearfix"></div>
		<div class="content clearfix markdown"><h3 id="-">联系方式</h3>
<ul>
<li>Mobile：13675896031</li>
<li>Email: 2270112418@qq.com</li>
<li>QQ / wechat：417589068</li>
</ul>
<hr>
<h3 id="-">个人信息</h3>
<ul>
<li>姜广财 / 男 / 1985</li>
<li>本科 / 浙江林学院 / 2008年毕业</li>
<li>工作年限8年</li>
<li>个人站点: <a href="http://www.upopen.cn">http://www.upopen.cn</a></li>
<li>github: <a href="https://github.com/xiaolulu">https://github.com/xiaolulu</a></li>
<li>期望职位: web前端开发、应用架构师</li>
<li>薪资: 当前 - 30K / 月，期望 - 36K / 月</li>
<li>工作地: 杭州</li>
</ul>
<hr>
<h3 id="-">技术能力</h3>
<ul>
<li>web开发：Node / es6 / H5 /Css3</li>
<li>前端工具：Gulp / Sass / Webpack</li>
<li>数据库相关：Mongodb / Mysql</li>
<li>版本管理：gIt / svn</li>
<li>单元测试： jshint / shouldjs / Supertest / mocha / karma / ab / jmeter</li>
<li>开放平台：微信服务号</li>
<li>综合能力：实践前端工程化、全栈开发、web安全、http协议</li>
</ul>
<hr>
<h3 id="-">工作经历</h3>
<h4 id="-2015-4-">仟金顶网络科技有限公司（2015年4月 ~ 至今）</h4>
<h5 id="-">项目经验</h5>
<p>1 订单履约：</p>
<ul>
<li>目的：为经销商提供订单在线处理、跟踪流程，以实现订单线上高效处理，及后期数据分析评估</li>
<li>开发：项目采用基于nodejs的前端分离架构，使用ES6，开发kamar、jmeter测试</li>
<li>效果：提高项目开发效率，进一步完善了全栈工程的架构体系、技术方案。</li>
</ul>
<p>2 仟金顶客户系统：</p>
<ul>
<li>项目目的：提供客户在线申请项目和资金贷款申请</li>
<li>负责模块：项目采用基于nodejs的前端后分离，使用gulp、webpack、sass等构建工具，对新闻、帮助等非核心数据使用nodejs+mongodb，另开发了接口管理、验证模块。</li>
<li>开发效果：承担了部分原后端工作，职责更加清晰，且前后端实现并行开发，接口联调仅用了1个小时。</li>
</ul>
<p>3 仟金顶客户系统微信服务号</p>
<p>提供客户系统的移动端，是由我推动的产品设计、项目实施，使用nodejs开发，因客户系统使用了前后端分离，java只需要改造两个接口，实现用户的openid登录即可。</p>
<p>4 系统数据可视化</p>
<p>由我设计、推动、开发的基于baidu的echart数据可视化，提供了PC / TV / APP客户端方案，更直观显示公司各项数据指标，并推广到集团。</p>
<h4 id="-2012-7-2015-4-">杭州海康威视技术有限公司（2012年7月 ~ 2015年4月）</h4>
<h5 id="-">项目经验</h5>
<p>1 会员监控视频管理平台</p>
<ul>
<li>项目目的：为C端会员提供监控设备在线管理、实时监控、查看历史视频、处理报警消息</li>
<li>负责模块：站点web页面部分，采用seajs的模块化管理，另对视频流的处理较多</li>
<li>开发效果：该平台是公司的核心产品，从零摸索，一年内多次反复改版，因较好的实现了模块化及组件化，模块得到很好的复用，提升了每次改版时的效率</li>
</ul>
<p>2 海康商城</p>
<p>提供用户在线购买设备的商城系统，负责前端模块，并有webapp版</p>
<p>3 视频广场</p>
<p>商场发布公开视频的云平台，负责前端模块，并有webapp版</p>
<h4 id="-2010-10-2012-7-">亚信联创科技有限公司（2010年10月 ~ 2012年7月）</h4>
<p>提供电信解决方案，参数开发了泰国电信系统、上海移动系统，负责前端基于Extjs的组件扩展</p>
<h4 id="5173-2008-6-2010-10-">5173网络科技有限公司（2008年6月 ~ 2010年10月）</h4>
<p>游戏装备、交易平台，负责UI设计、前端工作。</p>
<hr>
<h3 id="-">技术文章</h3>
<p><a href="http://www.upopen.cn/blog/list">优品开源 upopen</a></p>
<hr>
<h3 id="-">致谢</h3>
<p>感谢您花时间阅读我的简历，期待与您共事</p>
</div>
	</section>
	<div class="comments" name="comments" id="comments">
		<div class="commentWrap" id="commentWrap">
			
		</div>
		<form class="commentForm" id="commentForm">
			<input type="text" placeHolder="you name" id="commentUser" maxLength="30" class="commentUser" /><br />
			<textarea class="commentContent" id="commentContent" rows="6" maxLength="1000" placeHolder="your comment for this blog within 1000 words"></textarea><br />
			<button type="submit" id="commentBtn" class="btn">SAVE COMMENT</button><br /><br />
		</form>
	</div>
</div>

<% include ../../common/slide.ejs %>
<% include ../../common/footer.ejs %>
